<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Sửa nhóm tài sản</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Mã nhóm tài sản  <span class="error">*</span></label>
                  <input type="text" class="form-control" name="maNhomTaiSan" [(ngModel)]="nhomTaiSan.ma">
                  <p *ngIf="nhomTaiSan.ma === '' && saveClicked" class="error">Trường này là bắt buộc</p>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Tên nhóm tài sản   <span class="error">*</span></label>
                  <input type="text" class="form-control" name="tenNhomTaiSan" [(ngModel)]="nhomTaiSan.ten" >
                  <p *ngIf="nhomTaiSan.ten === '' && saveClicked" class="error">Trường này là bắt buộc</p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 pr-1" style="display: flex; flex-flow: row-reverse">
              <div class="form-group group-function">
                <button class="btn btn-lg btn-primary mr-1" routerLink="/nhom-tai-san">Hủy bỏ</button>
                <button class="btn btn-lg btn-info" (click)="addNhomTaiSan()">Lưu</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>