<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Bộ lọc</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Tên hoặc mã tài sản</label>
                  <input type="text" class="form-control" placeholder="Tên hoặc mã" value="Creative Code Inc.">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Phòng ban</label>
                  <select class="form-control">
                    <option>Item 1</option>
                    <option>Item 2</option>
                    <option>Item 3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Nhóm tài sản</label>
                  <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Loại tài sản</label>
                  <input type="text" class="form-control" placeholder="Phòng ban" value="Mike">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Trạng thái</label>
                  <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 pr-1">
                <div class="form-group group-function">
                  <button class="btn btn-md btn-primary">Tìm kiếm</button>
                  <button class="btn btn-md btn-primary">Tìm kiếm</button>
                  <button class="btn btn-md btn-primary">Tìm kiếm</button>
                  <button class="btn btn-md btn-primary">Tìm kiếm</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Hiển thị</label>
                <select class="form-control page-link bg-light" style="max-width: 100px">
                  <option (click)="setItemPerPage(5)">5</option>
                  <option (click)="setItemPerPage(10)">10</option>
                  <option (click)="setItemPerPage(15)">15</option>
                </select>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Mã tài sản</th>
                <th>Loại tài sản</th>
                <th>Nhóm tài sản</th>
                <th>Đơn vị tính</th>
                <th>Mã thiết bị</th>
                <th>Năm sử dụng</th>
                <th>Tên tài sản</th>
                <th>Thông số kỹ thuật</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let taiSan of pagedItems">
                  <td>{{taiSan.maTaiSan}}</td>
                  <td>{{taiSan.loaiTaiSan}}</td>
                  <td>{{taiSan.nhomTaiSan}}</td>
                  <td>{{taiSan.donViTinh}}</td>
                  <td>{{taiSan.maThietBi}}</td>
                  <td>{{taiSan.namSuDung | date}}</td>
                  <td>{{taiSan.tenTaiSan}}</td>
                  <td>{{taiSan.thongSoKyThuat}}</td>
                  <td>
                    <button class="btn btn-md btn-primary"><i class="now-ui-icons travel_info"></i></button>
                    <button class="btn btn-md btn-success"><i class="now-ui-icons design_scissors"></i></button>
                    <button class="btn btn-md btn-warning"><i class="now-ui-icons ui-1_simple-delete"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <nav aria-label="Page navigation">
            <!--<ul class="pagination pagination-lg justify-content-end">-->
              <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            <!--</ul>-->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg justify-content-end">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a (click)="setPage(1)" class="page-link">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a (click)="setPage(page)" class="page-link">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
