<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="./assets/img/angular2-logo-white.png"/>
        </div>
    </a>
    <a href="/" class="simple-text logo-normal">
        Creative Tim
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active"
            class="{{menuItems[0].class}} nav-item">
            <a [routerLink]="[menuItems[0].path]">
                <i class="now-ui-icons {{menuItems[0].icon}}"></i>
                <p>{{menuItems[0].title}}</p>
            </a>
        </li>
        <li *ngFor="let item of itemsParentMenu"
            routerLinkActive="active"
            class="{{item.class}} nav-item"
            [class.active]="item.toggle"
        >
            <a (click)="item.toggle = !(item.toggle)">
                <i class="now-ui-icons {{item.icon}}"></i>
                <p>{{item.title}}</p>
            </a>
            <ul class="nav child-menu" *ngIf="item.itemsMenu" [class.hidden]="!item.toggle">
                <li *ngFor="let childMenu of item.itemsMenu"
                    routerLinkActive="active"
                    class="{{childMenu.class}} nav-item">
                    <a [routerLink]="[childMenu.path]">
                        <i class="now-ui-icons {{childMenu.icon}}"></i>
                        <p>{{childMenu.title}}</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
